
            body {  
                    margin: 0;
                }
                section {
                    margin: 20px 0 !important;
                }
                .main{
                    height: 210px !important;
                    background-color: darkslategray ;    
                }
                .main>p{
                    text-align: center;
                    font-size: 4em;
                    margin: -1px;
                    padding: 40px;
                    color: white;   
                    font-weight: 300 !important;
                   
                }
                .title{
                    height: 210px !important;
                    padding: 20px;
                    background-color: darkslategray ;
                }
                .title>h1{
                    text-align: center;
                    color: white;
                    margin-top: 50px !important;
                    margin-top: -1px;
                    font-size: 4em;
                    font-weight: 300 !important;
                }
                .bottom{
                    height: max-content;
                    display: flex;
                    gap: 1px;
                    justify-content: space-evenly;
                    align-items: center;
                    margin-top: 10px;
                    margin-bottom: 0;
                    color: white;
                    background-color: darkslategray ;
                }
                .about{
                    text-align: center;
                    
                }
                .section p{
                    padding: 15px;
                    margin: 3%;
                    font-size: 17px;
                    font-weight: 400;
                    text-align: center;
                }
                .pages li a {
                    color: white;
                    text-decoration: none !important;
                    
                }
                .footer{
                    background-color: darkslategray;
                    text-align: center;
                    font-size: 19px;
                    color: white;
                    padding: 14px;
                    margin-top: 1px;
                    margin-bottom: 0;
                }